  <div class="border border-light mb-3"></div>  
<br>

  <h6 class="text-center border border-dark p-2 mt-2 mb-5 col-5 mx-auto">ART</h6>
</div>



<p class="col pb-5 pl-5 pr-5 pt-3 font-weight-bold">
ラップ活動の傍ら絵も書いているVeckenのアート作品です。
</p>