
<h6 class="text-center p-2 mt-3 mb-4 col-5 mx-auto bg-danger">
    <div class="logout-new-font-color">新規記事の投稿</div>
  </h6>
<%= render 'form', article: @article %>


<h6 class="text-center p-2 mt-3 mb-4 col-3 mx-auto bg-primary">
    <div class=""><%= link_to 'BACK', articles_path, class: "logout-new-font-color" %></div>
  </h6>