
<h6 class="text-center p-2 mt-3 mb-4 col-5 mx-auto bg-danger">
    <div class="logout-new-font-color">新規記事の投稿</div>
  </h6>
<%= render 'form', article: @article %>

<%= link_to 'BACK', articles_path %>
