   <div class="post_wrapper">
  <div class="border border-light mb-3">
<br>

  <h6 class="text-center border border-dark p-2 mt-2 col-5 mx-auto">PROFILE</h6>
</div>

<p class="col pb-5 pl-5 pr-5 pt-3 font-weight-bold">
2019年5月からラッパーとして活動開始。
主な活動拠点は都内のライブハウスやクラブ。
ラッパーになる前は、大学を卒業し、2年半お菓子会社の営業として働くものの、音楽を諦めきれず退社し今の道を選ぶという変わった経歴の持ち主でもある。

</p>

<div class="container p-0">

  <div class="row">
    <div class="p-sm-0 col-sm-12"><%= image_tag 'vecken3.jpg', class: "d-block w-100" %></div>
      <div class="bg-dark col-6 col-sm-4", style="height: 25px"><p class="text-white text-center pl-2 font-weight-bold">VECKEN</p></div>
      <div class="col-6 col-sm-4 pt-5 align-text-top profile-font sm-lead">
      <p class="text-black font-italic">まだまだここから始まる旅路</p>
      <p class="text-black font-italic">止まることない命ある限り</p>
    </div>
  </div>
</div>
  </div>