  <div class="border border-light mb-3"></div>  
<br>

  <h6 class="text-center border border-dark p-2 mt-3 col-5 mx-auto">PROFILE</h6>
</div>

<p class="col pb-5 pl-5 pr-5 pt-3 font-weight-bold">
Veckenとは" 東方の神が起きる！ " という意味で、アジア全域から世界にその名を広げられるグループとして名付けられた。2004年2月に韓国でデビュー。日本においてもJ-POPの新人として、2005年4月にデビューを果たす。現在その圧倒的な人気は韓国・日本だけに留まらず、中国、台湾、タイ、マレーシアを始めアジア各国でその名を轟かせており、2006、2007年でのアジアツアーを大成功させている。
2011年待望の再始動以降は、アジアだけに留まらず欧米諸国、ヨーロッパにまでその存在を渇望され、世界的に活動を行っている。
2013年自身初の 5大ドームツアー、さらに海外アーティスト初の 単独日産スタジアム公演を開催。また、2012年「東方神起 LIVE TOUR 2012 ～TONE～」、2013年「東方神起 LIVE TOUR 2013 ～TIME～」、「東方神起 LIVE TOUR 2014 ～TREE～」の3年間で海外アーティストとしては史上最多、最速の200万人を動員。2015年には記念すべき日本デビュー10周年を迎え、自身２度目の全国５大ドームツアー「東方神起LIVE TOUR 2015 ～WITH～」を行い圧巻のライブステージを披露した。音楽シングル総売り上げ枚数海外アーティスト歴代1位など 、数々の輝かしい記録を打ち立てている。


</p>

<div class="container">

<div class="row">
<%= image_tag 'vecken3.jpg', class: "d-block w-100" %>
<div class="bg-dark col-6 col-sm-4", style="height: 25px"><p class="text-white text-center pl-2 font-weight-bold">VECKEN</p></div>
<div class="col-6 col-sm-4 pt-5 align-text-top profile-font">
<p class="text-black font-italic">生年月日 : 1995/12/15</p>
<p class="text-black font-italic">身長 : 178cn</p>
<p class="text-black font-italic">体重 : 66kg</p>
<p class="text-black font-italic">血液型 : A</p>
</div>
</div>

</div>