   <div class="post_wrapper">
<div class="border border-light mb-3">
<br>

  <h6 class="text-center border border-dark p-2 mt-2 col-5 mx-auto">SCHEDULE</h6>
</div>


<h5 class="mx-4 pt-3 live-font">LIVE</h5>
<div class="border-bottom live-line "></div>

<div class="container">
  <div class="row">
    <div class="col date-font pt-3">2020-XX-XX</div>
  </div>
  <div class="row">
    <div class="col live-content-font">次回のライブ予定は未定です。</div>
  </div>

  </div>  

<%# <div class="container">
  <div class="row">
    <div class="col date-font pt-3">2019-11-09</div>
  </div>
  <div class="row">
    <div class="col live-content-font">渋谷NON STYLE LIVE</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col date-font pt-3">2019-11-09</div>
  </div>
  <div class="row">
    <div class="col live-content-font">渋谷NON STYLE LIVE</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col date-font pt-3">2019-11-09</div>
  </div>
  <div class="row">
    <div class="col live-content-font">渋谷NON STYLE LIVE</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col date-font pt-3">2019-11-09</div>
  </div>
  <div class="row">
    <div class="col live-content-font">渋谷NON STYLE LIVE</div>
  </div>
</div> %>