 <div class="post_wrapper">

<div class="d-flex justify-content-around ">
<h6 class="text-center p-2 mt-3 mb-4 col-3 mx-auto bg-success">
    <div class=""><%= link_to 'EDIT', edit_article_path(@article), class: "logout-new-font-color" %></div>
  </h6>

<h6 class="text-center p-2 mt-3 mb-4 col-3 mx-auto bg-primary">
    <div class=""><%= link_to 'BACK', articles_path, class: "logout-new-font-color" %></div>
  </h6>
</div>
</div>