<div class="post_wrapper">
  <div class="container post_text"> 
    <div class="contents">
      <%= form_tag(posts_path, method: :post, class: "comment_form" ) do %>
     <div class="contents" >
        <div class="edit_top">
        <span class="user_name_top post-name-link">
          <%= fa_icon 'paper-plane' %>
        </span>
      </div>
    </div>

    <input placeholder="Image Url" type="text" name="image" class="edit_form_box">
    <textarea cols="30" name="text" placeholder="text" rows="3" class="edit_form_box"></textarea>
    <input type="submit" value="&#xf067;" class="fa fa-2x post-name-link comment_submit_btn">

  <% end %>
</div>
</div>
    <div class="room_btns_wrapper">
      <h6 class="text-center p-2 mt-3 col-1 mr-2 room_btn_color">
        <a href="/posts", class="logout-new-font-color"><%= fa_icon 'list-ul' %></a>
      </h6>
    </div>
</div>