<div class="post_wrapper">
  <div class="container post_text"> 
    <div class="contents">
      <h6 class="post-name-link">
        更新が完了しました。
      </h6>
      <h6 class="text-center p-2 mt-3 col-1 mr-2 room_btn_color">
        <a href="/posts", class="logout-new-font-color"><%= fa_icon 'list-ul' %></a>
      </h6>
    </div>
  </div>
</div>

