/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */




.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}


.page-item.active .page-link {
  background: none;

}

.navbar-brand {
  font-size: 10px;
  /* font-weight: bold; */
  /* margin: 0 auto; */
  text-align: center;
}

.header-nav {
  /* margin: 0 auto; */
}

.hide {
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 5px;
  padding: 15px;
  margin: 10px;
}

.seek {
  color: black;

  padding-bottom: 25px;
}

.seek:hover {
    text-decoration: none;
    color: black;
}

.profile-font {
  font-size: 12px;

}

.rap-font {
  font-size: 10px;
}

.rap-link-font {
    font-size: 15px;
    color: aquamarine;
}

.live-content-font {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.date-font {
  font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.live-font {
  font-size: 20px;
}

.bg-login-color {
  background-color: whitesmoke;
}


.pass-forget-font {
  text-decoration: none;
  color: aqua;

font-size: 12px;
}

.pass-forget-font:hover {
  text-decoration: none;
}

.logout-new-font-color {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.bb-color {
  color: #696969;
}

.song-font {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.music-head-font {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #696969;
  color: white;
  font-size: 30px;
}

.header-condition {
  padding-top: 118px; 

}
#song, #live, #beat, #cover {
  margin-top: -118px; 
padding-top: 118px; 
}

.music_btn {
  font-size: 4px;
  text-align: center;
}


.top-bar-font {
  font-size: 6px;
  color: black;
}
.top-bar-font:hover {
  text-decoration: none;
  letter-spacing: 5px;
  color: black;
}

.title-font {
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family:'Times New Roman', 'Georgia', 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  /* letter-spacing: 1px; */
}
.title-font:hover {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

